
#middle{
    margin-top: 300px;
    text-align: center;

}
#searchbar{
    margin-top: 20px;

}

#search-text{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 550px;
    outline: none;
    border-radius: 25px;
    border: solid 2px rgb(238, 238, 238)

}

#search-icon{
    position:absolute;
    margin-top: 130px;
    margin-left:-390px;
   
}

#mic-icon{
    position: absolute;
    margin-top: 130px;
    margin-left: 100px;
}