
#middle{
    margin-top: 300px;
    text-align: center;

}
#searchbar{
    margin-top: 20px;
    

}

#search-text{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 480px;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 25px;
    border: solid 2px rgb(238, 238, 238);
    

}
#search-icon{
    position:absolute;
    margin-top:15px;
    margin-left:-545px;

}

#mic-icon{
    position: absolute;
    margin-top: 15px;
    margin-left: -35px;
}

#buttons{
    padding-top: 20px;
}
#button{
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 0;
    height: 35px;
    padding-left: 15px; 
    padding-right: 15px;
}
.spacer{
    display:inline-block;
    width: 5px;
    height: auto;
}